body {
  margin: 0;
  border: 0;
  padding: 0;
  background: #000;
}

h2 {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 99;
  opacity: 1;
  font-family: system-ui;
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin: 0;
  padding: 10px;
  color: #939393;
  mix-blend-mode: luminosity;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  opacity: 1;
}

nav a {
  display: block;
}

nav a img {
  display: block;
  width: 60px;
  height: auto;
  transition: filter 220ms ease-out;
}

nav a:hover img { filter: invert(98%) sepia(98%) saturate(0%) hue-rotate(330deg) brightness(102%) contrast(104%); }

nav a img[src="twitter.svg"] {}
nav a img[src="icons/instagram.svg"] { width: 40px; padding: 10px; }
nav a img[src="icons/facebook.svg"] { width: 40px; padding: 10px; }
nav a img[src="icons/apple-podcast.svg"] { width: 40px; padding: 10px; }
nav a img[src="icons/rss.svg"] { width: 34px; padding: 12px; }

picture,
video {
  display: block;
  opacity: 0.1;
  transition: opacity 500ms ease-out;
}

picture.spotlight,
video.spotlight {
  opacity: 1;
}

picture img {
  display: block;
  width: 100vw;
  height: auto;
  max-width: 100vw;
  padding-bottom: 66.66667%;
}

picture.square img {
  width: auto;
  max-height: 100vh;
  margin: 0 auto;
  padding-bottom: 100%;
}

picture img.loaded { padding: 0; }

video {
  width: 100vw;
  height: auto;
}
